<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MIS 4200</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color:lightblue;">
        <div style="background-color:black;color:lightblue;" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div  class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> 
                    @Html.ActionLink("MIS 4200", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>
                            <p>
                            <div class="dropdown">
                                <button type="button" style="background-color:darkslategrey;color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    SD Project Links <span class="glyphicon glyphicon-star"></span></button>
                                <div class="dropdown-menu">
                                    @Html.ActionLink("Airplanes", "Index", "Airplanes") <br />
                                    @Html.ActionLink("Flights", "Index", "Flights") <br />
                                    @Html.ActionLink("Flyers", "Index", "Flyers")
                                </div>
                            </div>
                        </li>

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            <br />
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - tk848615 MIS4200 </p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
