@model IEnumerable<tk848615_MIS4200.Models.airplanes>

@{
    ViewBag.Title = "Index";
}

<h2>Airplane Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.airplaneManufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.airplaneType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateBuilt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.airplaneManufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.airplaneType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateBuilt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.airplaneID }) |
            @Html.ActionLink("Details", "Details", new { id=item.airplaneID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.airplaneID })
        </td>
    </tr>
}

</table>
