@model tk848615_MIS4200.Models.flights

@{
    ViewBag.Title = "Details";
}

<h2>Flight Details <span class="glyphicon glyphicon-search"></span></h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Airplanes.airplaneManufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airplanes.airplaneManufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flyers.flyerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flyers.flyerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flightName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flightName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOfFlight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfFlight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.flightID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
