@model IEnumerable<tk848615_MIS4200.Models.flights>

@{
    ViewBag.Title = "Flight Index";
}

<h2>Flight Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Airplanes.airplaneManufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flyers.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flightName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfFlight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Airplanes.airplaneManufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flyers.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.flightName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfFlight)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.flightID }) |
            @Html.ActionLink("Details", "Details", new { id=item.flightID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.flightID })
        </td>
    </tr>
}

</table>
