@model tk848615_MIS4200.Models.customer

@{
    ViewBag.Title = "Customer Details";
}

<h2>Customer Details</h2>

<div>
    <h4>customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerSince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerSince)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.customerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
